/* layout.css Style */
.upload-drop-zone {
    height: 100px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 100px;
    text-align: center
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

.upload-drop-zone.invalid {
    border-color: #F88;
}
.upload-drop-zone.over {
    background-color: #bfb;
}


input[type="file"] {
    margin-bottom: 10px;
}


.hover {
    border-color: rgba(82, 168, 236, 0.8);
    background-color: rgba(82, 168, 236, 0.1);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.panel {
    margin-left: 10px;
    margin-right: 10px;
}



.container-fluid {
    padding-right: 0; /*15px in bootstrap.css*/
    padding-left: 0;  /*idem*/
    margin-right: 75px;
    margin-left: 75px;
}
