<!-- File upload: lists file names based on Bootstrap example: http://codepen.io/claviska/pen/vAgmd-->
<div ng-controller="fileUploadCtrl">

    <div class="row">

        <div class="col col-sm-3">
            <strong>Select files to upload</strong>
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file" ng-click="clearFileNumberDisplay()">
                        Browse&hellip; <input type="file" id="file" multiple onchange="angular.element(this).scope().displayNbrOfFiles(this)" />
                    </span>
                </span>
                <input type="text" class="form-control" id="nbrFiles" readonly>
            </div><br>
            <button class="btn btn-success center-block" ng-click="add()">Upload</button><br>

            <div id="upload-drop-zone" class="upload-drop-zone" ng-class="dropClass"><span>{{dropText}}</span></div>

            <ul class="list-unstyled">
                <li ng-repeat="file in filenames">
                    <div><span class="glyphicon glyphicon-remove" ng-click="deleteFile(file)"/> {{file}}</div>
                </li>
            </ul>

            <button class="btn btn-primary" ng-click="score()">Draw Diagram</button>
            <button class="btn btn-warning pull-right" ng-click="clearAll()">Clear All</button>
        </div>

    </div>
</div>