
<nav class="navbar navbar-default" ng-include="'views/navbar.html'"></nav>
<div class="manager" >
        <div class="container-fluid">
            <div class="col-sm-3">
                <!--  Upload Layout Files Section -->
                <div class="row-fluid">
                    <div class="panel panel-default" id="layout_file_upload_zone">
                        <div class="panel-heading"><strong>Upload Layout File(s)</strong></div>
                            <div class="panel-body" ng-controller="fileUploadCtrl">

                                <div ng-include="'views/upload.html'"></div>
                                <div id="upload-drop-zone" class="upload-drop-zone" ng-class="dropClass"><span>{{dropText}}</span></div>

                                <div class="row col-sm-12">

                                    <div><strong>Layout Files:</strong></div>
                                    <ul class="list-unstyled pull-left">
                                        <li ng-repeat="(fname, file) in layoutFiles">
                                            <div><span class="glyphicon glyphicon-remove" ng-click="deleteLayoutFile(fname)"></span> {{fname}}</div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="row col-sm-12">

                                        <div><strong>Weight Files: </strong></div>
                                        <ul class="list-unstyled">
                                            <li ng-repeat="(fname, file) in weightFiles">
                                                <div><span class="glyphicon glyphicon-remove" ng-click="deleteWeightFile(fname)"></span> {{fname}}</div>
                                            </li>
                                        </ul>
                                </div>


                                <button class="btn btn-xs btn-primary" ng-click="draw()">{{drawBtnName}}</button>
                                <button class="btn btn-xs btn-primary" ng-click="score()">{{scoreBtnName}}</button>
                                <button class="btn btn-xs btn-warning pull-right" ng-click="clearAll()">{{resetBtnName}}</button>

                            </div>
                    </div>
                </div>
                <!--  Upload Layout Files Section Ends -->


            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="panel panel-primary dialog-panel" id="myholder">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Properties</strong></div>
                        <div class="panel-body" id="properties">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Weights</strong></div>
                        <div class="panel-body" id="weights">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Score</strong></div>
                        <div class="panel-body" id="score">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>