
<nav class="navbar navbar-default" ng-include="'views/navbar.html'"></nav>
<div class="manager" >
        <div class="container-fluid">
            <div class="col-sm-3">
                <!--  Upload Layout Files Section -->
                <div class="row">
                    <div class="panel panel-default" id="layout_file_upload_zone">
                        <div class="panel-heading"><strong>Upload Layout File(s)</strong></div>
                            <div class="panel-body" ng-controller="fileUploadCtrl">

                                <div ng-include="'views/upload.html'"></div>
                                <div id="upload-drop-zone" class="upload-drop-zone" ng-class="dropClass"><span>{{dropText}}</span></div>

                                <div class="row">

                                    <div class="col col-sm-6">
                                        <strong>Layout Files:</strong>
                                        <ul class="list-unstyled pull-left">
                                            <li ng-repeat="(fname, file) in layoutFiles">
                                                <div><span class="glyphicon glyphicon-remove" ng-click="deleteLayoutFile(fname)"></span> {{fname}}</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col col-sm-6">
                                        <strong>Weight Files: </strong>
                                        <ul class="list-unstyled">
                                            <li ng-repeat="(fname, file) in weightFiles">
                                                <div><span class="glyphicon glyphicon-remove" ng-click="deleteWeightFile(fname)"></span> {{fname}}</div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                                <button class="btn btn-xs btn-primary" ng-click="draw()">{{drawBtnName}}</button>
                                <button class="btn btn-xs btn-primary" ng-click="score()">{{scoreBtnName}}</button>
                                <button class="btn btn-xs btn-warning pull-right" ng-click="clearAll()">{{resetBtnName}}</button>

                            </div>
                    </div>
                </div>
                <!--  Upload Layout Files Section Ends -->


            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="panel panel-primary dialog-panel" id="myholder">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Properties</strong></div>
                        <div class="panel-body" id="properties">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Weights</strong></div>
                        <div class="panel-body" id="weights">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../js/parseLayout.js"></script>

    <script>
        //        var drawBtn = document.getElementById("drawDiagram");
        //        drawBtn.onclick();
        //        var layouts = document.getElementById("upload_layout_files").files[0];
        //        drawBtn.onclick();
        //        var layouts = document.getElementById("upload_layout_files").files[0];


        var layoutFileDropTarget = $(document.getElementById("drop-zone-layout")),
                weightFileDropTarget = $(document.getElementById("drop-zone-weight"));

        var layoutFileGroup = $(document.getElementById("layout_file_group")),
                weightFileGroup = $(document.getElementById("weight_file_group"));

        var drawDiagramBtn = $(document.getElementById("drawDiagram")),
                scoreDiagramBtn = $(document.getElementById("scoreDiagram"));


        drawDiagramBtn.on("click", function (event) {
            event.stopPropagation();
            event.preventDefault();
            drawDiagram();
        });

        scoreDiagramBtn.on("click", function (event) {
            event.stopPropagation();
            event.preventDefault();
            scoreDiagram();
        });

        drawDiagramBtn.mouseup(function(){
            $(this).blur();
        });

        var clearScreen = $(document.getElementById("clear1"));



        clearScreen.mouseup(function(){
            $(this).blur();
        });
        clearScreen.on("click", function (event) {
            event.stopPropagation();
            event.preventDefault();
            $(holder).empty();
        });


        $("#clear2").mouseup(function(){
            $(this).blur();
        });
        $("#scoreDiagram").mouseup(function(){
            $(this).blur();
        });


    </script>