

    <header id="header">

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../index.html">Diagram Manager</a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="#home">Home</a></li>
                        <li class="active"><a href="#about">About</a></li>
                        <li><a href="#manage">Manage</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
	</header><!--/header-->

    <section id="about-us">
        <div class="container">

            <br>
            <div class="center wow fadeInDown">
				<h2>About Diagram Manager</h2>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
			</div>
			
			<!-- about us slider -->
			<div id="about-slider">
				<div id="carousel-slider" class="carousel slide" data-ride="carousel">

					<div class="carousel-inner">
						<div class="item active">
							<img src="../images/layout.PNG" class="img-responsive center-block" alt="">
					   </div>
					</div>

				</div> <!--/#carousel-slider-->
			</div><!--/#about-slider-->
			
			
			<!-- Our Skill -->
			<div class="skill-wrap clearfix">
			


			<!-- our-team -->
			<div class="team">
				<div class="center wow fadeInDown">
					<h2>Development Team</h2>
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
				</div>

				<div class="row clearfix">
					<div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-6">
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object" src="../images/avatar.png" alt=""></a>
								</div>
								<div class="media-body">
									<h4>Dana Zhang</h4>
									<h5>Research Assistant at Vanderbilt University</h5>

								</div>
							</div><!--/.media -->
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
						</div>
					</div><!--/.col-lg-4 -->
					
					
				</div> <!--/.row -->
				<div class="row team-bar">
					<div class="first-one-arrow hidden-xs">
						<hr>
					</div>
					<div class="first-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="second-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
					<div class="third-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="fourth-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
				</div> <!--skill_border-->

			</div><!--section-->
		</div><!--/.container-->
    </section><!--/about-us-->

    <div ng-include="'views/footer.html'"></div>
    

    <script src="../js/vendor/jquery.js"></script>

    <script src="../js/vendor/bootstrap.min.js"></script>
    <script src="../js/vendor/jquery.prettyPhoto.js"></script>
    <script src="../js/vendor/jquery.isotope.min.js"></script>
    <script src="../js/vendor/main.js"></script>
    <script src="../js/vendor/wow.min.js"></script>